<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cart-items">
        {% for cart_item in cart_items %}
            <div class="cart-item">
                <h3>{{ cart_item.items_name }}</h3>
                <p>Price: ${{ cart_item.price }}</p>
                <p>Quantity: {{ cart_item.number_of_items }}</p>
                <p>Discount: ${{ cart_item.discount }}</p>
                <p>Subtotal: ${{ cart_item.get_subtotal }}</p>
                <p>Description: {{ cart_item.description }}</p>
                <a href="{% url 'cart:edit_cart_item' cart_item.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'cart:remove_cart_item' cart_item.pk %}" class="delete-button">Delete</a>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>