<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<title>Remove Cart Item</title>
<body>
    <div class="container">
        <div class="content">
            <h1>Remove Cart Item</h1>
            <p>Are you sure you want to remove this item from the cart?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Confirm</button>
                <a href="{% url 'cart:cart_detail' %}">Cancel</a>
            </form>
        </div>
    </div>
</body>
</html>