<!DOCTYPE html>
<html>
<head>
    <title>Delivery List</title>
</head>
<body>
    <h1>Delivery List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Distance</th>
            <th>Delivery Fee</th>
            <th>Details</th>
        </tr>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.name }}</td>
                <td>{{ delivery.address }}</td>
                <td>{{ delivery.phone_number }}</td>
                <td>{{ delivery.distance }}</td>
                <td>${{ delivery.calculate_delivery_fee }}</td>
                <td><a href="{% url 'delivery:delivery_detail' delivery.id %}">View Details</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>


