<!DOCTYPE html>
<html>
<head>
    <title>Delivery List</title>
</head>
<body>
    <h1>Delivery List</h1>
    <div class="delivery">
        {% for delivery in deliveries %}
        <div class="delivery-container">
         <h3>Name: {{ delivery.name }}</h3>
        <h3>Address: {{ delivery.address }}</h3>
        <h3>Phone Number: {{ delivery.phone_number }}</h3>
        <h3>Distance: {{ delivery.distance }}</h3>
        <h3>Delivery fee: ${{ delivery.calculate_delivery_fee }}</h3>
        <a href="{% url 'delivery:delivery_detail' delivery.id %}">View Details</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>


